.container {
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke,#475569);
  display: flex;
  flex-direction: column;
}

header, nav, main, footer{
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header, footer {
  position: sticky;
  background-color: #1E293B;
  color: whitesmoke;
}

header {
  top: 0;
}

nav {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}

main {
  flex-grow: 2;
}

footer {
  bottom: 0;
}

/* || SMALL */
@media screen and (min-width: 576px) {
  .container {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green)
  }
  nav {
    display: none;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  .container {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold)
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .container {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick)
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .container {
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple)
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .container {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue)
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  nav { display: none }
}
